---
modules:
  http_2xx:
    prober: http
    timeout: 60s
    http:
      valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
      preferred_ip_protocol: ip4
      ip_protocol_fallback: true
      follow_redirects: true
      enable_http2: true
{% if monitoring_alert_ssl_expire_enabled | default(true) %}
  tcp_connect:
    prober: tcp
    timeout: 60s
    tcp:
      tls: true
{% endif %}
{% if monitoring_alert_demo_db_connection_enabled | default(true) %}
  demo_db_tcp_connect:
    prober: tcp
    timeout: 60s
    tcp:
      tls: false
{% endif %}