---
version: "3.7"

services:
  prometheus:
    image: "{{ prometheus_image }}"
    hostname: {{ monitoring_domain }}
    restart: always
    ports:
      - {{ monitoring_prometheus_port }}:9090
    volumes:
      - {{ config_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml
      - {{ config_dir }}/alert_rules.yml:/etc/prometheus/alert_rules.yml
      - prometheus_data:/prometheus/
    command:
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time={{ keep_prometheus_logs }}'
      - '--config.file=/etc/prometheus/prometheus.yml'

{% if monitoring_grafana_enabled %}
  grafana:
    image: "{{ grafana_image }}"
    restart: always
    ports:
      - {{ monitoring_grafana_port }}:3000 
    volumes:
      - grafana_data:/var/lib/grafana/
{% endif %}

{% if monitoring_alertmanager_enabled %}
  alertmanager:
    image: "{{ alertmanager_image }}"
    ports:
      - {{ monitoring_alertmanager_port }}:9093
    volumes:
      - {{ config_dir }}/alertmanager.yml:/etc/alertmanager/alertmanager.yml
      - alertmanager_data:/alertmanager/data/
    restart: always
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--web.external-url={{ monitoring_alertmanager_domain }}'
{% endif %}

{% if monitoring_blackbox_enabled %}
  blackbox:
    image: "{{ blackbox_image }}"
    ports:
      - {{ monitoring_blackbox_port }}:9115
    volumes:
      - {{ config_dir }}/blackbox.yml:/etc/blackbox_exporter/config.yml
    restart: always
{% endif %}

volumes:
  prometheus_data:
  grafana_data:
  alertmanager_data:
